.article {
	background-color: #d8eaeb;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(13, auto);
	grid-gap: 10px;
	grid-template-areas: 	"p ac ac ac" 
							"p ep c m"
							"p ep c m" 
							"p ep c m"
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai "
							"ip ip ai ai ";
}

@media (max-width: 768px){
	.article{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, auto);
	grid-template-areas:"p p " 
						"ac ac "
						"ep ep " 
						"c c "
						"m m"
						"ip ip "
						"ip ip "
						"ip ip "
						"ip ip "
						"ai ai "
						"ai ai "
						"ai ai "
						"ai ai "
						;
		
	}
	.infosA{
	text-align: center;
		}
		.infosB{
	text-align: center;
		}
	.infosC{
	text-align: center;
		}
}

.photo {
	border: 1px solid blue;
	
	grid-area:p;
}

.phraseAcc {
	border: 1px solid green;
	color: purple;
	font-size: 1.7em;
	
	grid-area:ac;
}

.evoPro {
	border: 1px solid red;
	font-size: 1.7em;
	
	grid-area:ep;
}

.catego{
	border: 1px solid yellow;
	font-size: 1.7em;
	
	grid-area:c;
}

.mads{
	border: 1px solid cyan;
	display:flex;
	flex-direction:column;
	font-size: 1.7em;
	
	grid-area:m;
}

.infosP{
	border: 1px solid grey;
	font-size: 1.7em;
	
	grid-area:ip;
}

.autresInfos{
	border: 1px solid ivory;
	font-size: 1.7em;
	
	grid-area:ai;
}