.article {
	background-color: #d8eaeb;
	padding-bottom: 100px;
	padding-top:100px;
}

* {
	font-family: Avenir, sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing:content-box;
}


p {
	font-size: 1em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}


.nomPartenaire{
	width: 80%;
	padding: 20px 0px;
	margin: 20px auto;
	border-bottom: 2px solid #fff; height : 120px; background-color : #fff;
	box-shadow: 0px 0px 15px #333;
	height: 120px;
	background-color: #608880;
}

.nomPartenaire h1 {
	color: Black;
	font-size: 5em;
	position: absolute;
	text-align: center;
}

/*SECTIONS*/
.aside {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	padding-bottom: 20px;
	margin: 20px auto;
	box-shadow: 0px 0px 10px #bbb;
	background-color: #d8eaeb;
}

.aside h2 {
	margin: 20px 0;
	width: 90%;
}

.aside >div {
	width: 90%;
}

/*SECTION INFOS*/

.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 3px solid #608880;
    padding-bottom:20px;
    margin-bottom: 10px;
}

.photo {
	text-align: left;
}

.photo img {
	border: 3px solid #fff;
	box-shadow: 0px 0px 10px #777;
	border-radius: 40%;
	margin-top: -110px;
}

.prez a {
	display: block;
	text-align: center;
	padding: 10px;
	margin: 10px auto 30px auto;
	color: #fff;
	background-color: #EA0;
	box-shadow: 0px 0px 10px #ccc;
	border-radius: 5px;
}

.contact-flex {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.contact-flex p:first-child {
	flex: 0 0 40%;
}

.contact-flex p:last-child {
	flex: 0 0 60%;
}

@media screen and (min-width: 980px) {
	.aside {
		width: 80%;
		box-shadow: 0px 0px 10px #bbb;
	}
	a:hover {
		color: #EA0;
	}
	.nomPartenaire h1 {
		width: 80%;
	}
	.prez, .contact {
		flex: 0 0 45%;
	}
	.prez {
		border-bottom: none;
		border-right: 2px solid #ccc;
		padding-right: 20px;
		margin-left: auto;
	}
	.contact {
		padding-left: 20px;
		margin-right: auto;
	}
	.prez a {
		border: 2px solid transparent;
	}
	.prez a:hover {
		color: #f28835;
		background-color: #fff;
		border: 2px solid #f28835;
		box-shadow: 0px 0px 20px #666;
	}

}