.article {
	background-color: #d8eaeb;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 10px;
	grid-template-areas: "t t" "fo fo";
	padding-bottom: 50px;
}

.titre {
	color: purple;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;

	font-size: 1em;
	font-family: "Lucida Console", Monaco, monospace;
	grid-area: t;
	background-color:#d8eaeb;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;

}
.message{
	
	grid-area: t;
	padding-top: 40px;
	padding-bottom:40px;
	margin-left: auto;
	margin-right: auto;
	color: blue;
}
.formulaire {
	background-color: #d8eaeb;
	border-radius: 15px;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	grid-area: fo;
	box-shadow: 0px 0px 10px #408080;
}

input {
	background-color: #ffffff;
}

.btnVal {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 8px 0px 0px;
	border: none;
	cursor: pointer;
	width: 70%;
	
}
.btnDemo {
	background-color: #4C73AF;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 35%;
}


.form {
	

	background-color: #ffffff;
}

