.article {
	background-color: #d8eaeb;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 10px;
	grid-template-areas: "t t" "fo fo";
	padding-bottom: 50px;
}

.titre {
	color: purple;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.8em;
	font-family: Monotype Corsiva;
	grid-area: t;
}

.formulaire {
	background-color: black;
	border-radius: 25px;
	font-size: 1.7em;
	margin-left: auto;
	margin-right: auto;
	grid-area: fo;
}

