.article{
	background-color:  #d8eaeb;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:repeat(3,auto);
	grid-gap:10px;
	grid-template-areas:"t t t"
						"a b c"
						"ta ta ta";
	margin: 20px;
}


.titre{
	
	color: purple;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.8em;
	font-family:Monotype Corsiva;
	grid-area:t;
}

.infosA{
	/*background-color: blue;*/
	border: 1px solid blue;
	padding:8px;
	grid-area:a;
	
}
.infosB{
	/*background-color: green;*/
	border: 1px solid green;
	/*chercher Comment centrer la ddl ______________________________________*/
	padding:8px;
	grid-area:b;
	text-align: center;
}

.ddlAct{
	font-size: large;
	
	font-size: 1.7em;
}
.infosC{
	/*background-color: red;*/
	border: 1px solid red;
	font-size: 1.7em;
	align-self: center; /*Centre sur l'axe vertical*/
	text-align:right;
	padding:8px;
	grid-area:c;
	visibility: false;
}

.table{
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.7em;
	grid-area:ta;
}

@media (max-width: 768px){
	.article{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:"t t"
						"a a"
						"b b"
						"c c"
						"ta ta";
	}
	.infosA{
	text-align: center;
		}
		.infosB{
	text-align: center;
		}
	.infosC{
	text-align: center;
		}
}

    .grid-liste {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 500px ) ); /*il faut un point d'arrêt*/
        grid-auto-rows: auto;
        grid-row-gap: 1em;
        justify-content: space-around;
        align-content: space-evenly;
    }

.liste-item {
    opacity: 60;
    background-color: var(--secondary-color,gainsboro);
    border-radius: 20px;
    padding: 15px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 2 0.7 auto;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
}

.liste-item:hover {
    border: 2px solid green;
    background-color: var(-on-hover);
    transform: scale(1);
}

.liste-item:nth-child(odd) {
    animation: slideUpOdd 1s forwards;
}
.liste-item:nth-child(even) {
    animation: slideUpEven 1s forwards;
    animation-delay: 500ms;
}

