.article {
	display: block;
	text-align:center;
}

.value {
	font-weight: bold;
}

.ui-carousel {
	margin-bottom: 20px;
}

.ui-widget-header {
	color: #fff;
	text-shadow: none;
	background-color: #428bca;
	border-color: #428bca;
}

.ui-widget{
	margin: 5px 0px 7px 0px;
}
.ui-dashboard-column {
	width: 550px;
	padding: 5px;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
	padding: 15px;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel-primary {
	border-color: #428bca;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #428bca;
}

.panel-primary>.panel-heading .badge {
	color: #428bca;
	background-color: #fff;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #428bca;
}

.msg-alert {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}