
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
      
      <!-- s-footer
    ================================================== -->
    <footer class="s-footer">




        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright AFCEPF AI107</span> 
                        <span>Site Template by    <a>   Melany PALLARO, Mishela IVANOVA,
	                  Hassan EL HAYANI,Rachid OUDRA and Olivier VILLARD</a></span>
                    </div>

                    <div class="go-top" >
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->
      
	</ui:composition>
