


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 
      
      
       <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/NomadsWeb/AccueilUser.xhtml">
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/logo.svg" alt="Homepage"> </img>
                    </a>
					
              </div><!--    end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="https://www.facebook.com/NomadsMassage/?fref=ts" target="_blank" ><i class="fa fa-facebook" h:aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/les.nomads/" target="_blank"><i class="fa fa-instagram" h:aria-hidden="true"></i></a>
                    </li>

                </ul> 
<!--                 end header__social -->

                <a class="header__connexion-trigger" href="http://localhost:8082/NomadsWeb/Connexion.xhtml"></a>

                <div class="header__connexion">

                    <form p:role="connexion" method="get" class="header__connexion-form" action="http://localhost:8082/NomadsWeb/Connexion.xhtml">
                        <input type="submit" class="connexion-submit" value="connexion"></input>
                    </form>
        
                    <a href="#0" title="Close connexion" class="header__overlay-close">Close</a>

                </div> 
<!--                  end header__connexion -->

                <nav class="header__nav-wrap">

                   

                    <ul class="header__nav">
                        <li class="current"><a href="/NomadsWeb/AccueilUser.xhtml" title="">Home</a></li>
    
                     
                        <li><a href="#" title="">Contact</a></li>
                    </ul>
<!--                      end header__nav -->

                   

                </nav> 
<!--                 end header__nav-wrap -->

            </div> 
<!--             header-content -->
        </header> 
<!--         header -->


        <div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/featured/featured-guitarman.jpg');">
                            
                            <div class="entry__content">
                                

                                <h1><a  title="">LE MASSAGE NOMAD'S, NOTRE SPÉCIALITÉ.</a></h1>

                                <div class="entry__info">
                                    <a class="entry__profile-pic">
                                        <img class="avatar" src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/avatars/user-03.jpg" ></img>
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a>ALEXANDRA</a></li>
                                        <li> CEO and FOUNDER </li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/featured/featured-watch.jpg');">
                            
          
                          
                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/featured/featured-beetle.jpg');">

 

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->
      
	</ui:composition>
