<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="NomadsWeb-1.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/"/>
        <dependent-module archiveName="NomadsEntity-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/NomadsEntity/NomadsEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="NomadsIBusiness-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/NomadsIBusiness/NomadsIBusiness">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="NomadsWeb"/>
        <property name="java-output-path" value="/NomadsWeb/target/classes"/>
    </wb-module>
</project-modules>
