<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAccueilAdmin.css" />
	</ui:define>


     <ui:define name="head">
      
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     
     </ui:define>

    <ui:define name="Nav">
    
    <p:menubar model="#{menuBeanAdmin.menuModel}"/>
    
    </ui:define>


	<ui:define name="PrincipalContent">
		<h1>BONJOUR <h:outputLabel value="#{mbAccount.admin.prenomAdministrateur}"/> </h1>
		<div class="article">
			<div class="masseurs">
				<fieldset>
					<legend>Mes masseurs</legend>
					Nous avons aujourd’hui <h:outputLabel value="#{mbListeMasseurs.listeMasseursCompleteActifs.size()}" /> masseurs actifs! !
					<h:outputLabel rendered="#{mbAccueilAdmin.masseurs1mois.size() >1}" value="#{mbAccueilAdmin.masseurs1mois.size()} nouveaux venus" /> 
					<h:outputLabel rendered="#{mbAccueilAdmin.masseurs1mois.size() == 1}" value="#{mbAccueilAdmin.masseurs1mois.size()} nouveau venu" /> 
					<h:outputLabel rendered="#{mbAccueilAdmin.masseurs1mois.size() == 0}" value="aucun nouveau venu" />
					 et 
					<h:outputLabel rendered="#{mbAccueilAdmin.masseursPartis1mois.size() >1}" value="#{mbAccueilAdmin.masseursPartis1mois.size()} départs" /> 
					<h:outputLabel rendered="#{mbAccueilAdmin.masseursPartis1mois.size() == 1}" value="#{mbAccueilAdmin.masseursPartis1mois.size()} départ" /> 
					<h:outputLabel rendered="#{mbAccueilAdmin.masseursPartis1mois.size() == 0}" value="aucun départ" /> 
					 depuis un mois.

				</fieldset>

			</div>

			<div class="partenaires">
				<fieldset>
					<legend>Mes partenaires</legend>
					Nous avons aujourd’hui 
					<h:outputLabel value="#{mbAccueilAdmin.partenairesActifs.size()}" />
					 partenaires actifs!
					 <h:outputLabel value="Aucun nouveau venu" rendered="#{mbAccueilAdmin.nouveauxPartenaires.size() == 0}"/>
					 <h:outputLabel value="#{mbAccueilAdmin.nouveauxPartenaires.size()} nouveau venu" rendered="#{mbAccueilAdmin.nouveauxPartenaires.size() == 1}"/>
					 <h:outputLabel value="#{mbAccueilAdmin.nouveauxPartenaires.size()} nouveaux venus" rendered="#{mbAccueilAdmin.nouveauxPartenaires.size() > 1}"/>
					 et 
					 <h:outputLabel value="aucun nouveau départ" rendered="#{mbAccueilAdmin.departsRecentsPart.size() == 0}"/>
					 <h:outputLabel value="#{mbAccueilAdmin.departsRecentsPart.size()} nouveau départ" rendered="#{mbAccueilAdmin.departsRecentsPart.size() == 1}"/>
					 <h:outputLabel value="#{mbAccueilAdmin.departsRecentsPart.size()} nouveaux départs" rendered="#{mbAccueilAdmin.departsRecentsPart.size() > 1}"/>

					depuis un mois.

				</fieldset>

			</div>

			<div class="prestations">
				<fieldset>
					<legend>Mes prestations</legend>
					<h:outputLabel value="#{mbAccueilAdmin.interventions7J.size()}" />
					 prestations sont prévues cette semaine, dont 
					 <h:outputLabel value="aucune n'est prévue" rendered="#{mbAccueilAdmin.interventionsDuJour.size() ==0}"/>
					 <h:outputLabel value="une seule est prévue" rendered="#{mbAccueilAdmin.interventionsDuJour.size() ==1}"/>
					 <h:outputLabel value="#{mbAccueilAdmin.interventionsDuJour.size()} sont prévues" rendered="#{mbAccueilAdmin.interventionsDuJour.size() >1}"/>
					  pour aujourd’hui.
					 <h:outputLabel value="#{mbAccueilAdmin.pctPrestaPourvues7Jours}" rendered="#{mbAccueilAdmin.pctPrestaPourvues7Jours >0}">
					 	<f:convertNumber type="percent"/>
					 </h:outputLabel>
					 des prestations des 7 jours à venir sont remplies à 100%.
				</fieldset>
			</div>
		</div>
	</ui:define>

</ui:composition>
</html>