<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAccueilAdm.css" />

	</ui:define> 
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanMasseur.menuModel}" />
		

	</ui:define>

	<ui:define name="PrincipalContent">

			
			<p:dataGrid var="typePack" value="#{mbAcheterMads.typePackMads}"
				columns="2" id="packMads" align="center">

				<f:facet name="header">
            Notre proposition de Mads
        </f:facet>
			<h:form>
				<p:panel header="#{typePack.libelleTypePackMads}"
					style="text-align:center">
					<p:panelGrid columns="2" style="width:100%">
						<p:graphicImage name="/images/mads/Mads.png" />
						<p:outputLabel>Nombre de mads dans le pack :</p:outputLabel>
						<p:outputLabel value="#{typePack.valeurTypePackMads}"/>
						<p:outputLabel>Prix du pack :</p:outputLabel>
						<p:outputLabel value="#{typePack.prixTypePackMads}"/>
						<p:commandButton action="#{mbAcheterMads.detailCommande()}"
							icon="ui-icon-cart" value="Je le veux!" style="margin: 1.0vh">
							<f:setPropertyActionListener value="#{typePack}"
								target="#{mbAcheterMads.packMadsChoisi}" />

						</p:commandButton> 

					</p:panelGrid>
				</p:panel>
			</h:form>
			</p:dataGrid>
		</ui:define>
</ui:composition>
</html>
