<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePartenaire.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanPartenaire.menuModel}" />

	</ui:define>
	
	<ui:define name="PrincipalContent">

	<h:form id="form">
		<h1 >Vous avez déjà donné votre avis sur la prestation #{retourPartenaire.interventionReelle.prestation.libellePrestation}  </h1>
	
           		<p:panelGrid columns="2" layout="grid">
           		<p:outputLabel>En date du : </p:outputLabel>
           		<h:outputLabel value="#{retourPartenaire.MonRtour().dateRetourExperiencePartenaire}"> <f:convertDateTime pattern="dd-MM-yyyy" dateStyle="medium"/> </h:outputLabel>
                  <p:outputLabel>Vous aviez attribué les notes suivantes : </p:outputLabel><h:outputLabel value="" />
                  <p:outputLabel>Ponctualité :</p:outputLabel> <h:outputLabel value="#{retourPartenaire.MonRtour().notePonctualite}" />
            	<p:outputLabel>Qualité :</p:outputLabel> <h:outputLabel value="#{retourPartenaire.MonRtour().noteQualiteMassage}" />
            	<p:outputLabel>Relationnel :</p:outputLabel> <h:outputLabel value="#{retourPartenaire.MonRtour().noteRelationnel}" />
				<p:outputLabel>Vous aviez laissé le commentaire suivant : </p:outputLabel> <h:outputLabel value="#{retourPartenaire.MonRtour().libelleRetourExperiencePartenaire}" />
	<h3>NOMAD'S VOUS REMERCIE POUR VOTRE CONTRIBUTION !</h3>
	</p:panelGrid>
	</h:form>
	</ui:define>
	
	
	</ui:composition>

</html>
