<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 


<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleListePresta.css" />
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanMasseur.menuModel}" />
	</ui:define>
	
	
	<ui:define name="PrincipalContent">

	<h:form id="form">
		<h1 >Vous avez déjà donné votre avis sur la prestation #{faireUnRetourMasseur.interventionReelle.prestation.libellePrestation}  </h1>
	
           		<p:panelGrid columns="2" layout="grid">
           		<p:outputLabel>En date du : </p:outputLabel>
           		<h:outputLabel value="#{faireUnRetourMasseur.MonRtour().dateRetourExperienceMasseur}"> <f:convertDateTime pattern="dd-MM-yyyy" dateStyle="medium"/> </h:outputLabel>
                  <p:outputLabel>Vous aviez attribué les notes suivantes : </p:outputLabel><h:outputLabel value="" />
                  <p:outputLabel>Accueil :</p:outputLabel> <h:outputLabel value="#{faireUnRetourMasseur.MonRtour().noteAccueilEvaluationMasseur}" />
            	<p:outputLabel>Ambiance :</p:outputLabel> <h:outputLabel value="#{faireUnRetourMasseur.MonRtour().noteAmbianceEvaluationMasseur}" />
            	<p:outputLabel>Clientèle :</p:outputLabel> <h:outputLabel value="#{faireUnRetourMasseur.MonRtour().noteClienteleEvaluationMasseur}" />
       			<p:outputLabel>Vous aviez déclaré avoir massé : </p:outputLabel> <h:outputLabel value="#{faireUnRetourMasseur.MonRtour().nombreClientsMasses}"> personnes</h:outputLabel>
				<p:outputLabel>Vous aviez déclaré avoir récolté (ou montant de rémunération) : </p:outputLabel> <h:outputLabel value="#{faireUnRetourMasseur.MonRtour().chiffreAffaire}" > euros</h:outputLabel>
				<p:outputLabel>Vous aviez laissé le commentaire suivant : </p:outputLabel> <h:outputLabel value="#{faireUnRetourMasseur.MonRtour().commentaireRetourExperienceMasseur}" />
	</p:panelGrid>
	</h:form>
	</ui:define>
	
	</ui:composition>













</html>
