<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAjout.css" />
	</ui:define>

	<ui:define name="head">
		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>
	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" />
	</ui:define>
	<ui:define name="PrincipalContent">


		<div class="formulaire">
			<h:form id="formul">
				<div class="titre">
					<h2>Ajouter un Partenaire</h2>
				</div>
				<p:panel class="form">
					<!-- organise le formulaire dans un tableau à deux colonnes -->
					<h:outputText value="#{mbAjoutPartenaire.success}"
						style="color:green; font-weight:bold" />
					<h:panelGrid columns="2" cellpadding="5">
						<p>
							<strong><i> Information sur le partenaire </i></strong>
						</p>
						<h:outputText></h:outputText>

						<h:outputLabel value="Type Partenaire :" for="typepartenaire" />
						<h:selectOneMenu id="typepartenaire"
							value="#{mbAjoutPartenaire.typePartenaireId}">
							<f:selectItem itemLabel="Choisir type partenaire" itemValue=""
								noSelectionOption="true" required="true"
								requiredMessage="Vous n'avez pas indiqué type de partenaire." />

							<f:selectItems value="#{mbAjoutPartenaire.listtypePartenaire}"
								var="TypePartenaire"
								itemLabel="#{TypePartenaire.libelleTypePartenaire}"
								itemValue="#{TypePartenaire.idTypePartenaire}" />

						</h:selectOneMenu>

						<h:outputLabel value="Nom :" for="nom" />
						<h:inputText value="#{mbAjoutPartenaire.nomPartenaire}" id="nom"
							required="true"
							requiredMessage="La saisie du nom est obligatoire" />
						<h:outputLabel value="Adresse mail :" for="mel" />
						<h:inputText value="#{mbAjoutPartenaire.adresseMailPartenaire}"
							id="mel" required="true"
							requiredMessage="Vous n'avez pas saisie le mail pour ce partenaire." />

						<h:outputLabel value="Numéro de téléphone :" for="tel" />
						<h:inputText value="#{mbAjoutPartenaire.telephonePartenaire}"
							id="tel" />


						<h:outputLabel value="Adresse postale :" for="ad" />
						<h:inputText value="#{mbAjoutPartenaire.adressePostalePartenaire}"
							id="ad" required="true"
							requiredMessage="Vous n'avez pas indiqué l'adresse du partenaire" />

						<p:selectOneMenu id="codePostal"
							value="#{mbAjoutPartenaire.selectedCP}" required="true"
							requiredMessage="Vous n'avez pas indiqué le code postal.">
							<p:ajax listener="#{mbAjoutPartenaire.onCPChange()}"
								update="ville" />
							<f:selectItem itemLabel="Choisir un code postal" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbAjoutPartenaire.codesPostaux}" />
						</p:selectOneMenu>

						<p:selectOneMenu id="ville"
							value="#{mbAjoutPartenaire.selectedVille}" required="true"
							requiredMessage="Vous n'avez pas indiqué la ville.">
							<f:selectItem itemLabel="Choisir une ville" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbAjoutPartenaire.villes}" />
						</p:selectOneMenu>

						<h:outputLabel value="Date début du contrat :" for="ad" />
						<p:calendar value="#{mbAjoutPartenaire.dateDebutContrat}"
							pattern="dd/MM/yyyy" required="true"
							requiredMessage="Vous n'avez pas indiqué la date de debut du contrat" />
						<p>
							<strong><i> Information sur la personne à contacter
							</i></strong>
						</p>
						<h:outputText></h:outputText>
						<h:outputLabel value="Nom contact :" for="nc" />
						<h:inputText value="#{mbAjoutPartenaire.nomContactPartenaire}"
							id="nc" />

						<h:outputLabel value="Numéro contact :" for="numc" />
						<h:inputText value="#{mbAjoutPartenaire.numeroContactPartenaire}"
							id="numc" />

						<h:outputLabel value="Adresse mail contact  :" for="amc" />
						<h:inputText value="#{mbAjoutPartenaire.mailContactPartenaire}"
							id="amc" />

						<p>
							<strong><i> Identifiants temporaires espace
									partenaire </i></strong>
						</p>
						<h:outputText></h:outputText>
						<h:outputLabel value="Login :" for="log" />
						<h:inputText id="log" value="#{mbAjoutPartenaire.loginPartenaire}"
							required="true"
							requiredMessage="Veuillez affecter un login à ce partenaire." />

						<h:outputLabel value="Mot de passe temporaire :" for="mdp"
							required="true"
							requiredMessage="Veuillez affecter un mot de passe temporaire pour ce partenaire." />
						<h:inputText id="mdp"
							value="#{mbAjoutPartenaire.passwordPartenaire}" />
					</h:panelGrid>
				</p:panel>


				<p:growl class="growl" showDetail="true" sticky="true" />

				<h:commandButton action="#{mbAjoutPartenaire.ajouterPartenaire()}"
					value="Valider" id="cmdBtn" class="btnVal">
					<f:actionListener binding="#{mbAjoutPartenaire.saveMessage()}"
						update="@form" />
				</h:commandButton>

				<h:commandButton action="#{mbAjoutPartenaire.demo()}" value="Demo"
					id="cmdBtnDemo" class="btnDemo">
					<f:ajax render="formul"></f:ajax>
				</h:commandButton>

			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>