<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleDashboard.css" />
	</ui:define>

	<ui:define name="head">
		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>
	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" />
	</ui:define>

	<ui:define name="PrincipalContent">

		<h:form id="dash">
			<p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />

			<p:dashboard id="board" model="#{dashboardManagedBean.model}">
				<p:ajax event="reorder"
					listener="#{dashboardManagedBean.handleReorder}" update="msgs" />

				<p:panel class="panel-primary" closable="false" toggleable="true" id="pieChart" header="Répartion des ventes de packs">
					<p:chart type="pie" model="#{mbChart.pieModel2}"
						style="width:400px;height:300px" responsive="true" />
				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" id="finance" header="Taux de Remplissage Prestation">
					<p:chart type="bar" model="#{mbChart.barModel}"
						style="height:300px; width300px" responsive="true" />
				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" id="nvxMass" header="Nouveaux Masseurs">
					<p:carousel value="#{mbListeMasseurs.listeMasseursRecents}"
						headerText="#{mbListeMasseurs.listeMasseursRecents.size()} nouveaux masseur"
						var="listeMasseursRecents" autoPlayInterval="5000"
						itemStyle="height:200px" numVisible="2" easing="easeInOutCirc"
						style="width:400px" circular="true">
						<p:panelGrid columns="2">
							<f:facet name="header">
								<p:graphicImage
									name="/images/#{listeMasseursRecents.photoMasseur}"
									style="height:60px; width:60px;display: block; margin: 0px auto" />
							</f:facet>

							<h:outputText value="NOM"
								style="font-weight: bold;text-align:left" />
							<h:outputText value="#{listeMasseursRecents.nomMasseur}"
								style="text-align:left" />

							<h:outputText value="Prénom"
								style="font-weight: bold;text-align:left" />
							<h:outputText value="#{listeMasseursRecents.prenomMasseur}"
								style="text-align:left" />
							<f:facet name="footer">
								<p:commandButton action="#{mbListeMasseurs.goToFicheMasseur()}"
									icon="ui-icon-document"
									style="margin: 1.0vh;display: block; margin: 0px auto"
									size="3px ">
									<f:setPropertyActionListener value="#{listeMasseursRecents}"
										target="#{mbListeMasseurs.selectedMasseur}"></f:setPropertyActionListener>
								</p:commandButton>
							</f:facet>
						</p:panelGrid>
					</p:carousel>

				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" reflow="true" id="prestaNonPourvues" header="Prestations Non pourvues">
					<p:dataTable id="listePrestNonPourvues"
						value="#{mbPrestationNonPourvues.interventionReelle}"
						var="interventionReelle" multiViewState="true" rows="10"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" border="1" scrollable="true"
						scrollHeight="400">

						<p:column headerText="Prestation"
							sortBy="#{interventionReelle.prestation.libellePrestation}">
							<h:outputLabel
								value="#{interventionReelle.prestation.libellePrestation}" />
						</p:column>
						<p:column headerText="Date"
							sortBy="#{interventionReelle.datePrestation}"
							style="text-align:center">
							<h:outputLabel value="#{interventionReelle.datePrestation}">
								<f:convertDateTime pattern="dd MMM yyyy" />
							</h:outputLabel>
						</p:column>
						<p:column headerText="Détails" style="text-align:center">
							<p:commandButton
								value= "Détail" action="#{mbPrestationNonPourvues.goToFichePrestation()}"
								icon="ui-icon-document" style="margin: 1.0vh" size="3px">
								<f:setPropertyActionListener value="#{interventionReelle}"
									target="#{mbPrestationNonPourvues.selectedInterventionReelle}"></f:setPropertyActionListener>
							</p:commandButton>

						</p:column>
						<f:facet name="footer" styleClass="msg-alert">#{mbPrestationNonPourvues.interventionReelle.size()} prestations non pourvues.         		
							</f:facet>
					</p:dataTable>
				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" id="widget5" header="Retours Masseurs">

					<p:carousel value="#{mbRetoursMass.retoursMasseurs}" headerText=""
						var="RetourExperienceMasseur" autoPlayInterval="5000"
						itemStyle="height:200px" numVisible="1" easing="easeInOutCirc"
						style="width:380px" circular="true">
						<h:panelGrid columns="2" style="width:100%"
							columnClasses="label,value">
							<f:facet name="header">
								<p:graphicImage
									name="/images/#{RetourExperienceMasseur.masseur.photoMasseur}"
									style="height:60px; width:60px; display: block; margin: 0px auto" />
							</f:facet>

							<h:outputText value="Masseur"
								style="font-weight: bold;text-align:left" />
							<h:outputText
								value="#{RetourExperienceMasseur.masseur.prenomMasseur} #{RetourExperienceMasseur.masseur.nomMasseur}"
								style="text-align:left" />


							<h:outputText value="Prestation" style="font-weight: bold" />
							<h:outputText
								value="#{RetourExperienceMasseur.interventionReelle.prestation.libellePrestation}"
								style="text-align:left" />

							<h:outputText value="Date" style="font-weight: bold" />
							<h:outputText
								value="#{RetourExperienceMasseur.interventionReelle.datePrestation}"
								style="text-align:left">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>

							<h:outputText value="Retour" style="font-weight: bold" />
							<h:outputText
								value="#{RetourExperienceMasseur.commentaireRetourExperienceMasseur}"
								style="text-align:left" />
						</h:panelGrid>
					</p:carousel>
				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" id="widget6" header="Retours Partenaires">
					<p:carousel value="#{mbRetoursPart.retoursPartenaires}"
						headerText="" var="RetourExperiencePartenaire"
						autoPlayInterval="5000" itemStyle="height:200px" numVisible="1"
						easing="easeInOutCirc" style="width:380px" circular="true">
						<h:panelGrid columns="2" style="width:100%"
							columnClasses="label,value">
							<f:facet name="header">
								<p:graphicImage name="/images/Partenaire/bar-restaurant.png"
									style="height:60px; width:60px;display: block; margin: 0px auto" />
							</f:facet>

							<h:outputText value="Partenaire"
								style="font-weight: bold;text-align:left" />
							<h:outputText
								value="#{RetourExperiencePartenaire.partenaire.nomPartenaire}"
								style="text-align:left" />


							<h:outputText value="Prestation"
								style="font-weight: bold;text-align:left; margin:1px" />
							<h:outputText
								value="#{RetourExperiencePartenaire.interventionReelle.prestation.libellePrestation}"
								style="text-align:left " />

							<h:outputText value="Date"
								style="font-weight: bold;text-align:left" />
							<h:outputText
								value="#{RetourExperiencePartenaire.interventionReelle.datePrestation}"
								style="text-align:left">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>

							<h:outputText value="Retour"
								style="font-weight: bold;text-align:left" />
							<h:outputText
								value="#{RetourExperiencePartenaire.libelleRetourExperiencePartenaire}"
								style="text-align:left" />
						</h:panelGrid>
					</p:carousel>
				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" id="widget7" header="Gestion des mads" widgetVar="gestionMads">

					<p:dataTable id="typePackTable" var="packMads"
						value="#{mbMads.allActivePacks}" border="1" scrollable="true"
						scrollHeight="800" widgetVar="gestionMads1"
						emptyMessage="Aucun type de pack disponible pour le moment">
						<f:facet name="header" style="text-align: center;">
							<h:outputText
								value="#{mbMads.allActivePacks.size()} packs de Mads différents" />
								&nbsp;
							<p:commandButton 
								icon="fa fa-dollar"
								style="margin: 0.5vh"
								action="#{mbMads.allActivePacks()}"
								update="@widgetVar(gestionMads)"
								>
								<f:setPropertyActionListener value="#{allNonRemovedPack}"
										target="#{mbMads.allActivePacks}"></f:setPropertyActionListener>
							</p:commandButton>
								<p:commandButton 
								icon="fa fa-history"
								style="margin: 0.5vh"
								action="#{mbMads.oldPackMadsView()}"
								update="@widgetVar(gestionMads)"
								>
								<f:setPropertyActionListener value="#{allRemovedPack}"
										target="#{mbMads.allNonActivePacks}"></f:setPropertyActionListener>
							</p:commandButton>
						</f:facet>
						<p:column headerText="Type de Pack"
							sortBy="#{packMads.libelleTypePackMads}">
							<h:outputText value="#{packMads.libelleTypePackMads}" />
						</p:column>
						<p:column headerText="Valeur Pack"
							style="text-align:center"
							sortBy="#{packMads.valeurTypePackMads}">
							<h:outputText value="#{packMads.valeurTypePackMads}">
							</h:outputText>
						</p:column>
						<p:column headerText="Prix Pack"
							style="text-align:center"
							sortBy="#{packMads.prixTypePackMads}">
							<h:outputText value="#{packMads.prixTypePackMads}">
								<f:convertNumber currencySymbol="€" type="currency" />
							</h:outputText>
						</p:column>
						<p:column style="text-align:center">
							<p:commandButton update=":editForm:editPanel"
								oncomplete="PF('editDialog').show()" icon="ui-icon-pencil"
								style="margin: 0.5vh" process="typePackTable">
								<f:setPropertyActionListener value="#{packMads}"
									target="#{mbMads.selectedPack}" />
							</p:commandButton>

							<p:commandButton update=":deleteForm:deletePanel"
								oncomplete="PF('deleteDialog').show()" icon="ui-icon-trash"
								style="margin: 0.5vh">
								<f:setPropertyActionListener value="#{packMads}"
									target="#{mbMads.selectedPack}" />
							</p:commandButton>
						</p:column>
						<f:facet name="footer" style="text-align: center;">
							<p:commandButton oncomplete="PF('addDialog').show()"
								icon="ui-icon-plus" style="margin: 0.5vh">
							</p:commandButton>
							<h:outputText value="Créer nouveau pack" />
						</f:facet>
					</p:dataTable>

				</p:panel>

				<p:panel class="panel-primary" closable="false" toggleable="true" id="widget8" header="Widget8">
					<h:outputText value="Widget8" />
				</p:panel>
			</p:dashboard>
		</h:form>

		<p:dialog header="Modifier le pack" widgetVar="editDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="editForm">
				<p:panelGrid id="editPanel" columns="2" styleClass="ui-noborder">
					<p:outputLabel>Libellé Pack : </p:outputLabel>
					<p:inputText style="width: 190px"
						value="#{mbMads.selectedPack.libelleTypePackMads}" />
					<p:outputLabel>Valeur Pack : </p:outputLabel>
					<p:inputText style="width: 190px"
						value="#{mbMads.selectedPack.valeurTypePackMads}" />
					<p:outputLabel>Prix Pack : </p:outputLabel>
					<p:inputText style="width: 190px"
						value="#{mbMads.selectedPack.prixTypePackMads}" />
				</p:panelGrid>
				<p:separator></p:separator>
				<p:commandButton value="Mettre à jour"
					action="#{mbMads.updatePackMads()}"
					update="@widgetVar(gestionMads)"
					oncomplete="PF('editDialog').hide()"
					style="display: float; float:right; margin-right: 2vh" />
				<p:commandButton value="Annuler"
					oncomplete="PF('editDialog').hide()"
					style="display: float; float:right ; margin-right: 2vh" />
			</h:form>
		</p:dialog>
		
		<p:dialog header="Supprimer le Pack" widgetVar="deleteDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="deleteForm">
				<p:outputPanel id="deletePanel">
					<p:outputLabel>Confirmer la suppresion du pack " </p:outputLabel>
					<p:outputLabel style="font-weight:bold"
						value="#{mbMads.selectedPack.libelleTypePackMads}">
					</p:outputLabel> " ?
														
									<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbMads.deletePackMads()}" 
						update="@widgetVar(gestionMads)"
						oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<p:dialog header="Ajouter un pack" widgetVar="addDialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="addForm">
				<p:panelGrid id="addDetail" columns="2" styleClass="ui-noborder">
					<p:outputLabel>Libellé Pack : </p:outputLabel>
					<p:inputText style="width: 190px"
						value="#{mbMads.newPack.libelleTypePackMads}" />
					<p:outputLabel>Valeur Pack : </p:outputLabel>
					<p:inputText style="width: 190px"
						value="#{mbMads.newPack.valeurTypePackMads}" />
					<p:outputLabel>Prix Pack : </p:outputLabel>
					<p:inputText style="width: 190px"
						value="#{mbMads.newPack.prixTypePackMads}" />
				</p:panelGrid>
				<p:separator></p:separator>
				<p:commandButton value="Valider" action="#{mbMads.addPackMads()}"
					oncomplete="PF('addDialog').hide()" 
					update="@widgetVar(gestionMads)"
					style="display: float; float:right; margin-right: 2vh" />
				<p:commandButton value="Annuler" oncomplete="PF('addDialog').hide()"
					style="display: float; float:right ; margin-right: 2vh" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>
