<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleDemandeDevis.css" />
	</ui:define>


	<ui:define name="head">
		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>
	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" />
	</ui:define>

	<ui:define name="PrincipalContent">


		<div class="message">
			<p:messages showDetail="true" />
		</div>




		<div class="formulaire">

			<h:form>
				<div class="titre">

					<h2>Traitement de la demande</h2>

				</div>
				<p:panel class="form">

					<h:panelGrid columns="2" cellpadding="5">
						<h:outputLabel value="Nom du partenaire :" for="nom" />
						<h:inputText
							value="#{mbDemandeDevise.prestation.partenaire.nomPartenaire}"
							id="nom" />

						<h:outputLabel value="Libelle de la prestation :" for="libelle" />
						<h:inputText id="libelle"
							value="#{mbDemandeDevise.prestation.libellePrestation}" />
						<h:outputLabel value="Adresse de la prestation :" for="adresse" />
						<h:inputText
							value="#{mbDemandeDevise.prestation.adresseInterventionPrestation}"
							id="adresse" />

						<p:selectOneMenu id="country"
							value="#{mbDemandeDevise.selectedCP}">
							<p:ajax listener="#{mbDemandeDevise.onCPChange()}" update="ville" />
							<f:selectItem itemLabel="Choisir un code postal" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbDemandeDevise.codesPostaux}" />
						</p:selectOneMenu>

						<p:selectOneMenu id="ville"
							value="#{mbDemandeDevise.selectedVille}">
							<f:selectItem itemLabel="Choisir une ville" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbDemandeDevise.villes}" />
						</p:selectOneMenu>


						<h:outputLabel value="Nombre de chaises ergonomiques :"
							for="nbChaises" />
						 <p:spinner
							value="#{mbDemandeDevise.prestation.nombreChaisesErgonomiquesPrestation}"
							id="nbChaises" />

						<h:outputLabel value="Nombre de masseurs :" for="nbmasseurs" />
						 <p:spinner id="nbmasseurs"
							value="#{mbDemandeDevise.prestation.nombreMasseursPrestation}" />

						<h:outputLabel value="Coût de la prestation : " for="coutDevis" />
						<h:inputText id="coutDevis"
							value="#{mbDemandeDevise.prestation.coutDevisPrestation}" />

						<h:outputLabel value="Date de la prestation :" for="DatePresta" />
						<p:calendar id="DatePresta"
							value="#{mbDemandeDevise.datePrestation}" locale="de"
							timeZone="+2" navigator="true" pattern="dd-MM-yy"></p:calendar>

						<h:outputLabel value="Heure debut :" for="heureD" />
						<p:calendar
							value="#{mbDemandeDevise.prestation.heureDebutPrestation}"
							pattern="HH:mm" timeOnly="true"></p:calendar>


						<h:outputLabel value="Heure fin :" for="heureF" />
						<p:calendar id="heureF"
							value="#{mbDemandeDevise.prestation.heureFinPrestation}"
							pattern="HH:mm" timeOnly="true"></p:calendar>

						<h:outputLabel value="Date de règlement :" for="reglement" />
						<p:calendar id="reglement"
							value="#{mbDemandeDevise.prestation.datePaiementPrestation}"
							locale="de" timeZone="+2" navigator="true" pattern="dd-MM-yy"></p:calendar>

						<h:outputLabel value="Spécificités :" />
						<p:inputTextarea
							value="#{mbDemandeDevise.prestation.specificitesPrestation}"
							rows="6" cols="50" />
					</h:panelGrid>

				</p:panel>
				<h:commandButton class="btnVal"
					action="#{mbDemandeDevise.recupererInfosDeDevis()}" value="Valider"
						update="@form" />


			</h:form>

		</div>
	</ui:define>

</ui:composition>
</html>