<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</h:head>
<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleDemandeDevis.css" />
		<h:outputScript library="js" name="JS/alert.js" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>
	<ui:define name="Nav">

		<p:menubar model="#{menuBeanPartenaire.menuModel}" />

	</ui:define>

	<ui:define name="PrincipalContent">

       <div class="message"> <p:messages showDetail="true"/> </div> 
        



		<div class="formulaire">

			<h:form id="formul">
					<div class="titre"><h2>Demande de devis</h2></div>
				<p:panel class="form">

					<h:panelGrid columns="2" cellpadding="5">
						<h:outputLabel value="Nom du partenaire :" for="nom" />
						<h:inputText value="#{mbAccount.partenaire.nomPartenaire}"
							id="nom" />


						<h:outputLabel value="L'intervention aura lieu dans vos locaux : "
							 />
						<p:selectOneRadio>
							<f:selectItem var="oui" itemLabel="oui" itemValue="oui" />
							<f:selectItem var="non" itemLabel="non" itemValue="non" />
						</p:selectOneRadio>

						<h:outputLabel value="Adresse de la prestation :" for="ad" />
						<h:inputText
							value="#{mbDemandeDevisPart.adresseInterventionPrestation}"
							id="ad" />
							

						<p:selectOneMenu id="country"
							value="#{mbDemandeDevisPart.selectedCP}">
							<p:ajax listener="#{mbDemandeDevisPart.onCPChange()}"
								update="ville" />
							<f:selectItem itemLabel="Choisir un code postal" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbDemandeDevisPart.codesPostaux}" />
						</p:selectOneMenu>

						<p:selectOneMenu id="ville"
							value="#{mbDemandeDevisPart.selectedVille}">
							<f:selectItem itemLabel="Choisir une ville" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbDemandeDevisPart.villes}" />
						</p:selectOneMenu>

						<h:outputLabel value="Nombre des masseurs :" for="log" />
						
                        <p:spinner value="#{mbDemandeDevisPart.nombreMasseursPrestation}" id="log"/>
						<h:outputLabel value="Type massage :" for="typepartenaire" />
						

						<p:selectOneRadio>
							<f:selectItem itemValue="Oui"
								itemLabel="massage sur chaise ergonomique" />
							<f:selectItem itemValue="Non" itemLabel="massage normale" />
						</p:selectOneRadio>




						<h:outputLabel value="budget max :"  />
						<h:inputText value="#{mbDemandeDevisPart.coutDevisPrestation}" />

						<h:outputLabel value="Date de l'intervention :" for="DatePresta" />
					
						<p:calendar id="DatePresta"
							value="#{mbDemandeDevisPart.datePrestation}" locale="de"
							timeZone="+2" navigator="true" pattern="dd-MM-yy"></p:calendar>

						<h:outputLabel
							value="Horaire souhaité du début de l'intervention :" for="heureD" />
						<p:calendar id="heureD"
							value="#{mbDemandeDevisPart.heureDebutPrestation}"
							pattern="HH:mm" timeOnly="true"></p:calendar>

						<h:outputLabel value="Heure fin :" for="heureF" />
						<p:calendar id="heureF"
							value="#{mbDemandeDevisPart.heureFinPrestation}" pattern="HH:mm"
							timeOnly="true"></p:calendar>
					
						<h:outputLabel value="Spécificités :" />
						<p:inputTextarea
							value="#{mbDemandeDevisPart.specificitesPrestation}"
							rows="6" cols="50" />
							
					</h:panelGrid>
  
				</p:panel>
<!-- 				<p:captcha label="Captcha" id="id"/> -->
		
				<p:growl class="growl" showDetail="true" sticky="true" />

				<h:commandButton class="btnVal" value="Envoyer"
					action="#{mbDemandeDevisPart.AjouterdemandeDevisPartenaire()}">
					<f:actionListener binding="#{mbDemandeDevisPart.saveMessage()}"
						update="@form" />
				</h:commandButton>
									<h:commandButton action="#{mbDemandeDevisPart.demo()}" value="Demo" id="cmdBtnDemo" class="btnDemo">
							<f:ajax render="formul"></f:ajax>
						</h:commandButton>
			</h:form>


		</div>
	</ui:define>

</ui:composition>
</html>