
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePartenaire.css" />
	</ui:define>

	<ui:define name="head">
		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>
	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" rendered="#{mbInfoPartenaire.admin}"/>
		<p:menubar model="#{menuBeanPartenaire.menuModel}" rendered="#{mbInfoPartenaire.part}"/>
	</ui:define>
	<ui:define name="PrincipalContent">

		<h:form>
			<div class="nomPartenaire">
				<h1>#{mbInfoPartenaire.partenaire.nomPartenaire}</h1>
			</div>

			<div class="aside">
				<div class="photo">
					<img
						src="resources/images/Partenaire/#{mbInfoPartenaire.partenaire.logoPartenaire}"
						style="width: 250px" />
					<div align="center"></div>
				</div>

				<div class="prez" >
					<p:outputLabel rendered="#{mbInfoPartenaire.admin}"><h2>Informations du partenaire</h2></p:outputLabel>
					<p:outputLabel rendered="#{mbInfoPartenaire.part}"><h2>Mes informations</h2></p:outputLabel>
					<div class="contact-flex">
					
					
						<p>Nom :</p>
						<p>#{mbInfoPartenaire.partenaire.nomPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse Mail :</p>
						<p>#{mbInfoPartenaire.partenaire.adresseMailPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse :</p>
						<p>
							<h:outputLabel>
								<a
									href="https://www.google.fr/maps/place/#{mbInfoPartenaire.partenaire.adressePostalePartenaire}+#{mbInfoPartenaire.partenaire.villeCp.libelleCp}+#{mbInfoPartenaire.partenaire.villeCp.libelleVille}"
									target="_blank">
									#{mbInfoPartenaire.partenaire.adressePostalePartenaire},#{mbInfoPartenaire.partenaire.villeCp.libelleCp}
									#{mbInfoPartenaire.partenaire.villeCp.libelleVille}</a>
							</h:outputLabel>
						</p>
					</div>
					<div class="contact-flex">
						<p>Numéro de téléphone :</p>
						<p>#{mbInfoPartenaire.partenaire.telephonePartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Date premier enregistrement :</p>
						<p>#{mbInfoPartenaire.partenaire.datePremierEnregistrementPartenaire}</p>
					</div>
				</div>
				<div class="contact">
					<p:outputLabel rendered="#{mbInfoPartenaire.admin}"><h2>Informations de la personne contact</h2></p:outputLabel>
					<p:outputLabel rendered="#{mbInfoPartenaire.part}"><h2>Informations de mon contact</h2></p:outputLabel>
					<div class="contact-flex">
						<p>Nom du contact :</p>
						<p>#{mbInfoPartenaire.partenaire.nomContactPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Numéro de téléphone :</p>
						<p>#{mbInfoPartenaire.partenaire.numeroContactPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse mail :</p>
						<p>#{mbInfoPartenaire.partenaire.mailContactPartenaire}</p>
					</div>
					<div>
						<p:commandButton action="#{mbInfoPartenaire.modifierPartenaire()}"
							value="Modifier le partenaire" icon="ui-icon-pencil"
							style="margin:4.0vh" rendered="#{mbInfoPartenaire.admin}">
						</p:commandButton>
					
					<p:commandButton action="#{mbInfoPartenaire.modifierPartenaire()}"
							value="Modifier mes informations" icon="ui-icon-pencil"
							style="margin:4.0vh" rendered="#{mbInfoPartenaire.part}">
						</p:commandButton>
					
					
					
					</div>
				</div>
			</div>
			<h:form rendered="#{mbInfoPartenaire.admin}">
			<div class="aside">
				<div class="exp">
					<div>
					<p:outputLabel rendered="#{mbInfoPartenaire.admin}"><h2>Les prestations à venir</h2></p:outputLabel>
					<p:outputLabel rendered="#{mbInfoPartenaire.part}"><h2>Mes prestations à venir</h2></p:outputLabel>
					
						<h:form>

							<p:dataTable value="#{mbInfoPartenaire.prestationAVenir}" id="prestaAvenir"
								widgetVar="prestaAvenir" var="prestation" border="1" scrollable="true" scrollHeight="200">
								<p:column headerText="Nom prestation ">
									<h:outputLabel value="#{prestation.prestation.libellePrestation}" />
								</p:column>
								<p:column headerText="Adresse prestation">
									<h:outputLabel
										value="#{prestation.prestation.adresseInterventionPrestation}" />
								</p:column>
								<p:column headerText="Nombre de masseurs attendus">
									<h:outputLabel value="#{prestation.prestation.nombreMasseursPrestation}" />
								</p:column>
								<p:column headerText="Date prestation">
										<h:outputLabel value="#{prestation.datePrestation}">
											<f:convertDateTime dateStyle="medium" />
										</h:outputLabel>
								</p:column>

								

								<p:column>
									<p:commandButton process="prestaAvenir"
										update="@form"
										oncomplete="PF('deleteDialog').show()"
										icon="ui-icon-closethick" style="margin: 1.0vh">
										<f:setPropertyActionListener value="#{prestation}"
											target="#{mbInfoPartenaire.interventionAAnnuler}" />
									</p:commandButton>
								</p:column>

							</p:dataTable>
						</h:form>
					</div>
				</div>
				<div>
					<div>
						<p:outputLabel rendered="#{mbInfoPartenaire.admin}"><h2>Les prestations échues</h2></p:outputLabel>
						<p:outputLabel rendered="#{mbInfoPartenaire.part}"><h2>Mes prestations échues</h2></p:outputLabel>
						<h:form>

							<p:dataTable value="#{mbInfoPartenaire.prestationPasse}" id="pretaPassees"
								var="prestation" border="1" scrollable="true" scrollHeight="400">
								<p:column headerText="Nom prestation ">
									<h:outputLabel value="#{prestation.prestation.libellePrestation}" />
								</p:column>
								<p:column headerText="Adresse prestation">
									<h:outputLabel
										value="#{prestation.prestation.adresseInterventionPrestation}" />
								</p:column>
								<p:column headerText="Nombre de masseurs">
									<h:outputLabel value="#{prestation.prestation.nombreMasseursPrestation}" />
								</p:column>
								<p:column headerText="Date prestation">
										<h:outputLabel value="#{prestation.datePrestation}">
											<f:convertDateTime dateStyle="medium" />
										</h:outputLabel>
						
								</p:column>
							</p:dataTable>


							<p:dialog header="Annuler l'intervention"
								widgetVar="deleteDialog" modal="true" showEffect="fade"
								hideEffect="fade" resizable="false" draggable="false">
								<h:form id="deleteform">
										<p:outputLabel value="Date de l'intervention" />
										<p:outputLabel>
											<strong>
													<i>#{mbInfoPartenaire.interventionAAnnuler.datePrestation}</i>
												</strong>
										</p:outputLabel>
										<br />
										<p:outputLabel value="Nombres de masseurs inscrits: ">#{mbInfoPartenaire.interventionAAnnuler.inscriptionMasseur.size()}</p:outputLabel>
										<br />
										<h:selectOneMenu value="#{mbInfoPartenaire.motifAnulation}">
											<f:selectItem itemLabel="Choisir motif d'annulation"
												itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{mbInfoPartenaire.motifs}" />
										</h:selectOneMenu>
										<br />
										<br />
										<p:outputLabel>Êtes-vous sûr de vouloir annuler cet intervetion ? </p:outputLabel>
										<br />
										<br />
										<p:commandButton value="Annuler"
											oncomplete="PF('deleteDialog').hide()"
											style="display: float; float:right; margin: 1.0vh; background:#D18888" />
										<p:commandButton value="Confirmer"
											action="#{mbInfoPartenaire.annulerPrestation()}"
											oncomplete="PF('deleteDialog').hide()" update="@form"
											style="display: float; float:left; margin: 1.0vh; background:#88D1AA" />
								
								</h:form>
							</p:dialog>

						</h:form>
					</div>
				</div>
			</div>
			</h:form>
		</h:form>
	</ui:define>
</ui:composition>

</html>