<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePartenaire.css" />
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
		
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanAdmin.menuModel}" />


	</ui:define>

	<ui:define name="PrincipalContent">
		<h:form>
			<div class="nomPartenaire">
				<h1>#{mbFicheMasseur.masseur.prenomMasseur}
					#{mbFicheMasseur.masseur.nomMasseur}</h1>
			</div>

			<div class="aside">
				<div class="photo">
					<img
						src="resources/images/#{mbFicheMasseur.masseur.photoMasseur}"
						style="width: 200px; height: 200px" />
					<div align="center"></div>
				</div>


				<div class="prez">
					<p:outputLabel>
						<h2>État Civil</h2>
					</p:outputLabel>
					<div class="contact-flex">
						<p>Nom :</p>
						<p>#{mbFicheMasseur.masseur.nomMasseur}</p>
					</div>
					<div class="contact-flex">
						<p>Prénom :</p>
						<p>#{mbFicheMasseur.masseur.prenomMasseur}</p>
					</div>

					<div class="contact-flex">
						<p>Date de naissance :</p>
						<p>
							#{mbFicheMasseur.masseur.dateDeNaissanceMasseur}
						</p>
					</div>
					<div class="contact-flex">
						<p>Numéro de téléphone :</p>
						<p>#{mbFicheMasseur.masseur.telephoneMasseur}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse Mail :</p>
						<p>#{mbFicheMasseur.masseur.adresseMailMasseur}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse Postale :</p>
						<p>
							<h:outputLabel>
								#{mbFicheMasseur.masseur.adressePostaleMasseur}
							</h:outputLabel>
						</p>
					</div>
					<div class="contact-flex">
						<p></p>
						<p>
							<h:outputLabel>
								#{mbFicheMasseur.masseur.villeCp.libelleCp} - #{mbFicheMasseur.masseur.villeCp.libelleVille}
							</h:outputLabel>
						</p>
					</div>
					<br />
					<div class="contact-flex" style="text-align: center">
						<p>
							<p:commandButton icon="fa fa-fw fa-edit"
								action="#{mbFicheMasseur.mettreAjour()}" value="Modifier"
								style="margin">
							</p:commandButton>
						</p>
					</div>

				</div>
				<div class="contact">
					<p:outputLabel>
						<h2>Informations</h2>
					</p:outputLabel>
					<div class="contact-flex">
						<p>Qualification :</p>
						<p>
							#{mbFicheMasseur.dernierHistoEvoPro.evolutionsProfessionnelle.libelleEvolutionProfessionnelle}
							depuis le
							<h:outputLabel
								value="#{mbFicheMasseur.dernierHistoEvoPro.dateDebutEvolutionProfessionnelleMasseur}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputLabel>
						</p>
					</div>
					<br />
					<div class="contact-flex">
						<p>Catégorie(s) :</p>
						<p>
							<ui:repeat var="cat"
								value="#{mbFicheMasseur.listeAffectationCatMass}">
								<li style="list-style: none;">#{cat.categorieMasseur.libelleCategorieMasseur}
									depuis le <h:outputLabel
										value="#{cat.dateEntreeCategorieMasseur}">
										<f:convertDateTime pattern="dd-MM-yyyy" />
									</h:outputLabel>
								</li>
							</ui:repeat>
						</p>
					</div>
					<br />
					<div class="contact-flex">
						<p>Solde de Mads :</p>
						<p>
							<h:outputLabel value="#{mbFicheMasseur.soldus}">
								<f:convertNumber currencySymbol="Mads" pattern="#"
									type="currency" />

							</h:outputLabel>
</p>
					</div>

				</div>
			</div>
			<h:form>
				<div class="aside">
					<div class="exp">
						<div>
							<p:outputLabel>
								<h2>Mes prestations à venir</h2>
							</p:outputLabel>

							<h:form>

								<p:dataTable
									value="#{mbFicheMasseur.interventionsAVenir}"
									id="prestaAvenir" widgetVar="prestaAvenir" var="prestation"
									border="1" scrollable="true" scrollHeight="200"
									emptyMessage="Aucune prestation à venir pour le moment">
									<p:column headerText="Nom de l'intervention">
										<h:outputLabel
											value="#{intervention.prestation.libellePrestation}" />
									</p:column>
									<p:column headerText="Lieu de l'intervention">
										<h:outputLabel
											value="#{intervention.prestation.adresseInterventionPrestation}" />
									</p:column>
									<p:column headerText="Date de l'intervention">
										<h:outputLabel value="#{intervention.datePrestation}">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:outputLabel>
									</p:column>
									<p:column headerText="Heure de l'intervention">
										<h:outputLabel
											value="#{intervention.prestation.heureDebutPrestation}" />
									</p:column>
									<p:column headerText="Détails de la prestation">
										<h:outputLabel value="">Insérer un lien?</h:outputLabel>
									</p:column>
								</p:dataTable>
							</h:form>
						</div>
					</div>

				</div>
			</h:form>
		</h:form>
	</ui:define>

</ui:composition>
</html>