<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui">
      
<ui:composition template="MasterPage.xhtml">
	<ui:define name="ListePrestaCss">
		<h:outputStylesheet name="CSS/StyleListePresta.css" />
	</ui:define>

     <ui:define name="head">
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     </ui:define>

    <ui:define name="Nav">
    <p:menubar model="#{menuBeanAdmin.menuModel}"/>
    </ui:define>
    
    <ui:define name="PrincipalContent">
    
    <div class="title">
			<h1>Mes prestations passées</h1>
		</div>
   
 <h:commandLink>
 <h:graphicImage url="./../resources/images/button/csv.png" />
 <h:dataExporter type="csv" target="historique" fileName="exportDonnées"/>
 </h:commandLink>
   <h:form id="consultForm">
    <p:commandButton value ="Voir mes prestations en cours" id="retour" action="#{mbHistoriquePresta.onButtonClick()}"></p:commandButton>
    
 <p:dataTable id="historique" value="#{mbHistoriquePresta.prestations}" var="prestation" border="1" scrollable="true" scrollHeight="800">
   <p:column headerText="Nom" sortBy = "#{prestation.prestation.partenaire.nomPartenaire}" filterBy="#{prestation.prestation.partenaire.nomPartenaire}" filterMatchMode="contains">
		<h:outputLabel value="#{prestation.prestation.partenaire.nomPartenaire}" />
	</p:column>
	<p:column headerText="Libellé de la prestation" sortBy="#{prestation.prestation.libellePrestation}" filterBy="#{prestation.prestation.libellePrestation}" filterMatchMode="contains">
		<h:outputLabel value="#{prestation.prestation.libellePrestation}" />
	</p:column>
	<p:column headerText="Date de la prestation" sortBy="#{prestation.datePrestation}" filterBy="#{prestation.datePrestation}">
		<ui:repeat var="intervention" value="#{prestation.datePrestation}">
		<h:outputLabel value="#{prestation.datePrestation}"> <f:convertDateTime dateStyle="medium"/> </h:outputLabel>
		</ui:repeat>
	</p:column> 
	<p:column  headerText="Nombre de masseurs">
		<h:outputLabel value="#{prestation.prestation.nombreMasseursPrestation}" />
	</p:column>   

	</p:dataTable>
	
   
   
   
   
   
   </h:form>
   
   
    </ui:define>
    </ui:composition>
</html>
