<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<h:outputStylesheet name="CSS/StyleMasterPage2.css" />
	<title><ui:insert name="title"></ui:insert></title>
	<ui:insert name="EspCss" />
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</h:head>
<h:body>

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="header__logo" href="AccueilUser.xhtml">
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/logo.svg" alt="Homepage"> </img>
                    </a>
					
              </div><!--    end header__logo -->



                <a class="header__connexion-trigger" href="http://localhost:8082/NomadsWeb/Connexion.xhtml"></a>

                <div class="header__connexion">

                    <form p:role="Déconnexion" method="get" class="header__connexion-form" action="http://localhost:8082/NomadsWeb/Connexion.xhtml">
                        <input type="submit" class="connexion-submit" value="Déconnexion"></input>
                    </form>
        
                 

                </div> 
<!--                  end header__connexion -->

            </div> 
<!--             header-content -->
        </header> 
<!--         header -->

	<div class="nav">
		<!-- \_________________________________________________________________________________________________________________________-->
		<!-- rendered="#\{mbConnect.user.class.equals('Admin')" -->
		<ui:insert name="Nav" />


		<!-- \_____________________________________________________________________________________________________________________________ -->
	</div>

	<div class="article">
		<ui:insert name="PrincipalContent" />
	</div>

     <footer class="s-footer">

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright AFCEPF AI107 - <script>document.write(new Date().getFullYear())</script></span>
                        <span>Site Template by    <a>   Melany PALLARO, Mishela IVANOVA, Hassan EL HAYANI, Rachid OUDRA and Olivier VILLARD</a></span>
                    </div>

                    <div class="go-top" >
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->
    
</h:body>
</html>