<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePartenaire.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanPartenaire.menuModel}" />

	</ui:define>
	<ui:define name="PrincipalContent">

		<h:form>
			<div class="nomPartenaire">
				<h1>#{mbInfoPartenaire.partenaire.nomPartenaire}</h1>
			</div>

						<div class="aside">
				<div class="exp">
					<div>
						<h2>Les prestations à venir</h2>
						<h:form>

							<p:dataTable value="#{mbInfoPartenaire.prestationAVenir}"
								var="prestation" border="1" scrollable="true" scrollHeight="300">
								<p:column headerText="Nom prestation ">
									<h:outputLabel value="#{prestation.prestation.libellePrestation}" />
								</p:column>
								<p:column headerText="Adresse prestation">
									<h:outputLabel
										value="#{prestation.prestation.adresseInterventionPrestation}" />
								</p:column>
								<p:column headerText="Nombre du masseur attendu">
									<h:outputLabel value="#{prestation.prestation.nombreMasseursPrestation}" />
								</p:column>
								<p:column headerText="Date prestation">
										<h:outputLabel value="#{prestation.datePrestation}">
											<f:convertDateTime dateStyle="medium" />
										</h:outputLabel>
							
								</p:column>
								<p:column headerText="État de la prestation">
										<i><h:outputLabel value="En attente de validation" rendered="#{prestation.prestation.dateValidationPrestation == null}"/></i>
										<h:outputLabel value="Validée" rendered="#{prestation.prestation.dateValidationPrestation != null}"/>
						
								</p:column>
							</p:dataTable>

						</h:form>
					</div>

				</div>
				<div>
					<div>
						<h2>Les prestations passés</h2>
						<h:form>

							<p:dataTable id="TablePresta" value="#{mbInfoPartenaire.prestationPasse}"
								var="prestation" border="1" scrollable="true" scrollHeight="300">
								<p:column headerText="Nom prestation ">
									<h:outputLabel value="#{prestation.prestation.libellePrestation}" />
								</p:column>
								<p:column headerText="Adresse prestation">
									<h:outputLabel
										value="#{prestation.prestation.adresseInterventionPrestation}" />
								</p:column>
								<p:column headerText="Nombre du masseur">
									<h:outputLabel value="#{prestation.prestation.nombreMasseursPrestation}" />
								</p:column>
								<p:column headerText="Date prestation">
										<h:outputLabel value="#{prestation.datePrestation}">
											<f:convertDateTime dateStyle="medium" />
										</h:outputLabel>
									
								</p:column>
								<p:column>
					<f:facet name="header"> Retours d'expérience</f:facet>
								<p:commandButton process="TablePresta"
								action="#{mbInfoPartenaire.faireUnRetourDexperience()}"
								icon="ui-icon-comment" style="margin: 1.0vh" size="3px" title="Donner mon avis">
								<f:setPropertyActionListener value="#{prestation}"
									target="#{mbInfoPartenaire.selectedIntervention}" />
							</p:commandButton>
			</p:column>
							</p:dataTable>

						</h:form>
					</div>
				</div>
			</div>
		</h:form>


	</ui:define>
</ui:composition>
</html>