<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="MasterPage.xhtml">

	<ui:define name="ListePartenaireCss">
		<h:outputStylesheet name="CSS/MesMasseurs.css" />
		<h:outputStylesheet name="primeicons/primeicons.css"
			library="primefaces" />
	</ui:define>

	<ui:define name="head">
		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>
	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" />
	</ui:define>

	<ui:define name="PrincipalContent">
		<div class="title" style="front-color: white" align="center">
			<h1>Mes partenaires</h1>
		</div>


		<h:form id="consultForm">
			<p:commandButton value="Ajouter un nouveau parteniare"
				action="#{mbPartenaire.ajouterPartenaire()}"
				icon="ui-icon-plusthick " style="margin: 1.0vh">
			</p:commandButton>

			<div class="prez">
				<p:outputLabel>
					<strong><h4>Filtres</h4></strong>
				</p:outputLabel>
				<p:outputLabel>Statut de disponibilité :  </p:outputLabel>
				<p:selectOneMenu id="selectPartActif"
					value="#{mbPartenaire.statutDispoSelected}" styleClass="ddlAct">
					<p:ajax listener="#{mbPartenaire.onCPChange()}"
						update=":consultForm:listePart" />
					Statut disponibilité partenaire :
					<f:selectItem itemLabel="Choisissez un statut de disponibilité"
						itemValue="" noSelectionOption="true" />
					<f:selectItems value="#{mbPartenaire.actifInactif}" />
				</p:selectOneMenu>
			</div>
		<!-- 	<h:commandLink>
				<h:graphicImage url="./../resources/images/button/csv.png" />
				<h:dataExporter type="csv" target="listePart"
					fileName="exportDonnées" />
			</h:commandLink> -->
			<p:dataTable id="listePart" value="#{mbPartenaire.listePartenaire}"
				widgetVar="listePart" var="partenaire" border="1" scrollable="true"
				scrollHeight="400">

				<p:column headerText="Nom" sortBy="#{partenaire.nomPartenaire}"
					filterBy="#{partenaire.nomPartenaire}" filterMatchMode="contains">
					<h:outputLabel value="#{partenaire.nomPartenaire}" />
				</p:column>

				<p:column headerText="Code postal"
					sortBy="#{partenaire.villeCp.libelleCp}"
					filterBy="#{partenaire.villeCp.libelleCp}"
					filterMatchMode="startsWith">
					<h:outputLabel value="#{partenaire.villeCp.libelleCp}" />
				</p:column>

				<p:column headerText="Ville"
					sortBy="#{partenaire.villeCp.libelleVille}"
					filterBy="#{partenaire.villeCp.libelleVille}"
					filterMatchMode="contains">
					<h:outputLabel value="#{partenaire.villeCp.libelleVille}" />
				</p:column>


				<p:column headerText="Type partenaire"
					sortBy="#{partenaire.typePartenaire.libelleTypePartenaire}"
					filterBy="#{partenaire.typePartenaire.libelleTypePartenaire}"
					filterOptions="">
					<h:outputLabel
						value="#{partenaire.typePartenaire.libelleTypePartenaire}" />
				</p:column>

				<p:column headerText="Date d'enregistrement"
					sortBy="#{partenaire.datePremierEnregistrementPartenaire}">
					<h:outputLabel
						value="#{partenaire.datePremierEnregistrementPartenaire}">
						<f:convertDateTime pattern="dd MMM yyyy" />
					</h:outputLabel>
				</p:column>

				<p:column headerText="Détails">
					<p:commandButton process="listePart"
						action="#{mbPartenaire.fichePartenaire()}" icon="ui-icon-document"
						style="margin: 1.0vh" size="3px">
						<f:setPropertyActionListener value="#{partenaire}"
							target="#{mbPartenaire.selectedPartenaire}" />
					</p:commandButton>

					<p:commandButton process="listePart"
						action="#{mbPartenaire.modifierPartenaire()}"
						icon="ui-icon-pencil" style="margin: 1.0vh">
						<f:setPropertyActionListener value="#{partenaire}"
							target="#{mbPartenaire.selectedPartenaire}" />
					</p:commandButton>

					<p:commandButton process="listePart"
						update=":deleteForm:deletePanel"
						oncomplete="PF('deleteDialog').show()" icon="ui-icon-closethick"
						style="margin: 1.0vh">
						<f:setPropertyActionListener value="#{partenaire}"
							target="#{mbPartenaire.selectedPartenaire}" />
					</p:commandButton>

				</p:column>
				<f:facet name="footer">
        								#{mbPartenaire.listePartenaire.size()} partenaires au total. 
        				<br />

				</f:facet>
			</p:dataTable>
		</h:form>


		<!-- Desactiver partenaire -->


		<p:dialog header="Désactiver le partenaire :" widgetVar="deleteDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="deleteForm">
				<p:outputPanel id="deletePanel">
					<p:outputLabel></p:outputLabel>
					<br />
					<br />
					<div align="center">
						<p:outputLabel>
							<strong><h2>#{mbPartenaire.selectedPartenaire.nomPartenaire}</h2></strong>
						</p:outputLabel>
					</div>
					<br />
					<br />
					<p:outputLabel>Date fin partenariat : </p:outputLabel>
					<br />
					<br />
					<p:calendar value="#{mbPartenaire.dateFinContrat}" timeZone="+2" />
					<br />
					<br />
					<p:outputLabel>Motif : </p:outputLabel>
					<br />
					<br />
					<h:selectOneMenu value="#{mbPartenaire.motifFinContrat}">
						<f:selectItem itemLabel="Choisir un motif" itemValue=""
							noSelectionOption="true" />

						<f:selectItems value="#{mbPartenaire.motifs}" />
					</h:selectOneMenu>
					<br />
					<br />
					<p:outputLabel>Voulez vous desactiver ce partenaire ?</p:outputLabel>
					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbPartenaire.desactiverPartenaire()}"
						update="@widgetVar(tab)" oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
</html>