<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
				<h:outputStylesheet name="CSS/StyleAjoutMasseur.css" />
	</ui:define>
     <ui:define name="head">
      
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     
		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>
     </ui:define>

    <ui:define name="Nav">
    
   <p:menubar model="#{menuBeanMasseur.menuModel}" />
		

	</ui:define>

	<ui:define name="PrincipalContent">
		<div class="titre">
			<h2>Mettre à jour mon masseur</h2>
		</div>

		<div class="formulaire">
			<h:form >
				<p:panel class="form">
					<!-- organise le formulaire dans un tableau à deux colonnes -->
					<h:panelGrid columns="2" cellpadding="5" >
		
					<h:outputLabel value="Modifier photo" />
						<a href="http://localhost:8082/NomadsWeb/"> 
				<h:graphicImage	href="http://localhost:8082/NomadsWeb/" library="images" name="#{mbMajMassMass.masseurConnected.photoMasseur}" alt="masseur" width="200px"></h:graphicImage>
				</a> 						
						
						
						<h:outputLabel value="Nom :" for="nom" />
						<h:inputText value="#{mbMajMassMass.masseurConnected.nomMasseur}" id="nom" required="true" 
							requiredMessage="La saisie du nom est obligatoire"> #{mbMajMassMass.masseurConnected.nomMasseur}</h:inputText>
							
						<h:outputLabel value="Prénom :" for="prenom" />
						<h:inputText value="#{mbMajMassMass.masseurConnected.prenomMasseur}" id="prenom">#{mbMajMassMass.masseurConnected.prenomMasseur}</h:inputText>

						<h:outputLabel value="Adresse postale :" for="ad" />
						<h:inputText value="#{mbMajMassMass.masseurConnected.adressePostaleMasseur}" id="ad"> #{mbMajMassMass.masseurConnected.adressePostaleMasseur}</h:inputText>

						<p:selectOneMenu id="country" value="#{mbMajMassMass.selectedCP}" >
					<p:ajax listener="#{mbMajMassMass.onCPChange()}" update="ville"/>
					<f:selectItem itemLabel="Choisir un code postal" itemValue="#{mbMajMassMass.masseurConnected.villeCp.libelleCp}" noSelectionOption="true"/>
					<f:selectItems value="#{mbMajMassMass.codesPostaux}"/>
				</p:selectOneMenu>

				<p:selectOneMenu id="ville" value="#{mbMajMassMass.selectedVille}" >
				<f:selectItem itemLabel="Choisir une ville" itemValue="" noSelectionOption="true"/>
					<f:selectItems value="#{mbMajMassMass.villes}"/>
				</p:selectOneMenu>

						<h:outputLabel value="Adresse mail :" for="mel" />
						<h:inputText value="#{mbMajMassMass.masseurConnected.adresseMailMasseur}" id="mel">#{mbMajMassMass.masseurConnected.adresseMailMasseur} </h:inputText>

						<h:outputLabel value="Numéro de téléphone :" for="tel" />
						<h:inputText value="#{mbMajMassMass.masseurConnected.telephoneMasseur}" id="tel"> #{mbMajMassMass.masseurConnected.telephoneMasseur} </h:inputText>
						
						<h:outputLabel value="Date de naissance :" />						
						<p:calendar value="#{mbMajMassMass.masseurConnected.dateDeNaissanceMasseur}">  </p:calendar>
						
						
						<h:outputLabel value="Sexe : " />
						<h:selectOneMenu value="#{mbMajMassMass.idSexeRecup}">
						<f:selectItem itemLabel="Choisir sexe" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbMajMassMass.listeSexe}" var="sexeMasseurSelectionne" itemLabel="#{sexeMasseurSelectionne.libelleSexe}" itemValue="#{sexeMasseurSelectionne.idSexe}"/>
						</h:selectOneMenu>

						<h:outputLabel value="Login :" for="log" />
						<h:inputText id="log" value="#{mbMajMassMass.masseurConnected.loginMasseur}" />
						
						
						
						<h:commandButton action="#{mbMajMassMass.mettreAJour()}" value="Mettre à jour mes informations" />

</h:panelGrid>
</p:panel>
</h:form> 
<h:form id="formIndispo">
				<p:dataTable id="indispoMassEnCours" widgetVar="indispoMass"
					value="#{mbMajMassMass.listeIndispoMasseur}"
					 var="indisponibiliteMasseur" border="1"
					scrollable="true" scrollHeight="200">
					<p:column headerText="À partir du">
						<h:outputLabel
							value="#{indisponibiliteMasseur.dateDebutIndisponibiliteMasseur}">
							<f:convertDateTime pattern="dd MMM yyyy" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="Jusqu'au">
						<h:outputLabel
							value="#{indisponibiliteMasseur.dateFinIndisponibiliteMasseur}">
							<f:convertDateTime pattern="dd MMM yyyy" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="Motif">
						<h:outputLabel
							value="#{indisponibiliteMasseur.motifIndisponibiliteMasseur.libelleMotifIndisponibiliteMasseur}" />
					</p:column>
					<!-- 						<p:column headerText="Modifier"> -->
					<!-- 							<p:commandButton process="indispoPartEnCours" -->
					<!-- 								oncomplete="PF('redisponibleDialog').show()" -->
					<!-- 								icon="ui-icon-pencil" style="margin: 1.0vh"> -->
					<!-- 								<f:setPropertyActionListener value="#{indisponibilitePartenaire}" -->
					<!-- 									target="#{mbModifierPartenaire.indisponibiliteEnCours}" /> -->
					<!-- 							</p:commandButton> -->
					<!-- 						</p:column> -->

				</p:dataTable>


			<p:commandButton action="#{mbMajMassMass.voirHistoIndispo()}" update="@form" value="Voir mon historique" rendered="#{mbMajMassMass.historique==false}"></p:commandButton>
			<p:commandButton action="#{mbMajMassMass.voirIndispoEnCours()}" update="@form" value="Voir mes indisponibilités en cours" rendered="#{mbMajMassMass.historique==true}"></p:commandButton>
			
							
					
					<p:commandButton update="formIndispo"
						oncomplete="PF('disponibleDialog').show()"
						value="Ajouter une indisponibilité"
						icon="u ui-icon-plusthick" iconPos="left" 
						style="display: float; float:right ; margin-right: 2vh" >
<!-- 						<f:setPropertyActionListener value="" target=""></f:setPropertyActionListener> -->
						</p:commandButton>
						
						
<!-- 					<p:commandButton value="Mettre à jour" -->
<!-- 						action="#{mbModifierPartenaire.modifierPartenaire()}" -->
<!-- 						icon="ui-icon-check" iconPos="left" update="@form" -->
<!-- 						style="display: float; float:left; margin-right: 2vh" /> -->
<!-- 					<p:commandButton value="Annuler" -->
<!-- 						action="#{mbModifierPartenaire.retourListePartenaire()}" -->
<!-- 						icon="ui-icon-closethick" iconPos="left" -->
<!-- 						style="display: float; float:center ; margin-right: 2vh" /> -->
	

</h:form>		

<p:dialog header="Ajouter une période d'indisponibilité :"
				widgetVar="disponibleDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" draggable="true">
				<h:form id="disponibleForm">
					<p:outputPanel id="disponiblePanel">
						<br />
						<br />
						<div align="center">
							<p:outputLabel>
<!-- 					Le partenaire <strong>#{mbModifierPartenaire.partenaire.idPartenaire} #{mbModifierPartenaire.partenaire.nomPartenaire} </strong>ne sera pas disponible : -->
						Je souhaite indiquer une période d'indisponibilité:
							</p:outputLabel>
						</div>
						<br />
						<br />
						<p:outputLabel value="À partir du  : " />
						<br />
<!-- 						<p:outputLabel>#{mbModifierPartenaire.message}</p:outputLabel> -->
<!-- 						<br /> -->
						<p:calendar value="#{mbMajMassMass.dateDebutIndispo}" timeZone="+2"
							mindate="#{mbMajMassMass.dateFromLocalDT}"
							required="true" requiredMessage="Pour l'ajout d'une nouvelle disponibilité vous devez choisir une date de début !">
						</p:calendar>
						<br />
						<br />
						<p:outputLabel value="Jusqu'au  : " />
						<br />
						<br />
						<p:calendar value="#{mbMajMassMass.dateFinIndispo}" timeZone="+2"
							mindate="#{mbMajMassMass.dateDebutIndispo}" />
						<br />
					<h:selectOneMenu value="#{mbMajMassMass.selectedMotif}">
						<f:selectItem itemLabel="Choisir un motif" itemValue=""
							noSelectionOption="true" />

<!-- 						<f:selectItems value="#{mbMajMassMass.motifsIndispoMass}" var="mot" itemLabel="#{mot.libelleMotifIndisponibiliteMasseur}" /> -->
											<f:selectItems value="#{mbMajMassMass.motifsIndispoMass}" var="mot" itemLabel="#{mot.libelleMotifIndisponibiliteMasseur}" itemValue="mot"/>
					</h:selectOneMenu>
						<br />
						<p:commandButton value="Annuler"
							oncomplete="PF('disponibleDialog').hide()"
							style="display: float; float:right; margin: 1.0vh; background:#D18888" />
						<p:commandButton value="Confirmer" 
							action="#{mbMajMassMass.test()}"
							update="@widgetVar(indispoMass)" oncomplete="PF('disponibleDialog').hide()" 
							style="display: float; float:left; margin: 1.0vh; background:#88D1AA" />
					</p:outputPanel>
				</h:form>
			</p:dialog>






















																				<!-- 						<h:outputLabel value="Modification du mot de passe :" for="modifMdp" /> -->
																						<!-- 						<p:commandButton id="modifMdp" value="Modifier le Mot de Passe" type="button" onclick="PF('dlg2').show();" /> -->
																						<!-- 						<p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true" height="100"> -->
																						<!-- 						<h:outputLabel value="Mot de passe Actuel :" for="mdpA" /> -->
											
		
																				<!-- 						<h:inputSecret id="mdpA" value="#{mbMajMassMass.motDePasseActuel}" /> -->
																						<!-- 						<h:outputLabel value="nouveau mot de passe :" for="mdpN" /> -->
																						<!-- 						<h:inputSecret id="mdpN" value="#{mbMajMassMass.nouveauMotDePasse}" /> -->
																						<!-- 						<h:outputLabel value="Veuillez confirmer le nouveau mot de passe :" for="mdpNC" /> -->
																						<!-- 						<h:inputSecret id="mdpNC" value="#{mbMajMassMass.nouveauMotDePasseConfirm}" /> -->
																						<!-- 						</p:dialog> -->




																							<!-- :modifForm:defautDetail      Value: #{consigne}        Target #{mbConsigneSol.selectedConsigne}-->
<!-- 							<p:commandButton  id="modifMdp" value="Modifier le Mot de Passe" type="button" onclick="PF('modifMdp').show();" /> -->
																							<!-- 																																update="" oncomplete="PF('modifMdp').show()" icon="fa fa-edit" -->
																							<!-- 																																style="margin: 0.5vh"> -->
	
	
	
																							<!-- 									<f:setPropertyActionListener value="" -->
<!-- 						<p:dialog header="Modifier le Mot de Passe" -->
<!-- 							widgetVar="modifMdp" modal="true" showEffect="fade" -->
<!-- 							hideEffect="fade" resizable="false" draggable="false"> -->
<!-- 							<h:form id="modifForm"> -->
<!-- 								<p:panelGrid id="modificateurMdp" columns="2" -->
<!-- 									styleClass="ui-noborder"> -->


<!-- 						<h:outputLabel value="Login :" for="log" /> -->
<!-- 						<h:inputText id="log" value="#{mbMajMassMass.identifiantFourni}" /> -->
<!-- 						<h:outputLabel value="Mot de passe Actuel :" for="mdpA" />  -->
<!-- 						<h:inputSecret id="mdpA" value="#{mbMajMassMass.motDePasseActuel}" /> -->
<!-- 						<h:outputLabel value="nouveau mot de passe :" for="mdpN" /> -->
<!-- 						<h:inputSecret id="mdpN" value="#{mbMajMassMass.nouveauMotDePasse}" /> -->
<!-- 						<h:outputLabel value="Veuillez confirmer le nouveau mot de passe :" for="mdpNC" /> -->
<!-- 						<h:inputSecret id="mdpNC" value="#{mbMajMassMass.nouveauMotDePasseConfirm}" /> -->
						
<!-- 						<p:commandButton value="Vérifier les champs" -->
<!-- 									action="#{mbMajMassMass.modifierMdp()}"/> -->
<!-- 								</p:panelGrid> -->


<!-- 								<p:separator></p:separator> -->
<!-- 								<p:commandButton value="Mettre à jour" rendered="#{mbMajMassMass.ok == true}" -->
<!-- 									action="#{mbMajMassMass.modifierMdp()}" -->
									
<!-- 									oncomplete="PF('modifMdp').hide()" -->
<!-- 									style="display: float; float:right; margin-right: 2vh" /> -->
<!-- 								<p:commandButton value="Annuler" -->
<!-- 									oncomplete="PF('modifMdp').hide()" -->
<!-- 									style="display: float; float:right ; margin-right: 2vh" /> -->
<!-- 							</h:form> -->
<!-- 						</p:dialog> -->

					
						

<!-- 						<h:commandButton action="#{mbMajMassMass.ajouterMasseur()}" value="Valider" id="cmdBtn" class="btnVal"/> -->
<!-- 					</h:panelGrid> -->
<!-- 				</p:panel> -->
<!-- 			</h:form> -->
		</div>



	</ui:define>
</ui:composition>
</html>