<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
				<h:outputStylesheet name="CSS/StyleAjoutMasseur.css" />
	</ui:define>
     <ui:define name="head">
      
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     
		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>
     </ui:define>

    <ui:define name="Nav">
    
   <p:menubar model="#{menuBeanAdmin.menuModel}" />
		

	</ui:define>

	<ui:define name="PrincipalContent">
		<div class="titre">
			<h2>Mettre à jour mon masseur</h2>
		</div>

		<div class="formulaire">
			<h:form id="formu">
				<p:panel class="form">
					<!-- organise le formulaire dans un tableau à deux colonnes -->
					<h:panelGrid columns="2" cellpadding="5" >
		
					<h:outputLabel value="Modifier photo" for="nom" />
						<a href="http://localhost:8082/NomadsWeb/"> 
				<h:graphicImage	href="http://localhost:8082/NomadsWeb/" library="images" name="#{mbMajMasseur.masseur.photoMasseur}" alt="masseur" width="200px"></h:graphicImage>
				</a> 						
						
						
						<h:outputLabel value="Nom :" for="nom" />
						<h:inputText value="#{mbMajMasseur.masseur.nomMasseur}" id="nom" required="true" 
							requiredMessage="La saisie du nom est obligatoire"> #{mbMajMasseur.masseur.nomMasseur}</h:inputText>
							
						<h:outputLabel value="Prénom :" for="prenom" />
						<h:inputText value="#{mbMajMasseur.masseur.prenomMasseur}" id="prenom">#{mbMajMasseur.masseur.prenomMasseur}</h:inputText>

						<h:outputLabel value="Adresse postale :" for="ad" />
						<h:inputText value="#{mbMajMasseur.masseur.adressePostaleMasseur}" id="ad"> #{mbMajMasseur.masseur.adressePostaleMasseur}</h:inputText>

						<p:selectOneMenu id="country" value="#{mbMajMasseur.selectedCP}" >
					<p:ajax listener="#{mbMajMasseur.onCPChange()}" update="ville"/>
					<f:selectItem itemLabel="Choisir un code postal" itemValue="#{mbMajMasseur.masseur.villeCp.libelleCp}" noSelectionOption="true"/>
					<f:selectItems value="#{mbMajMasseur.codesPostaux}"/>
				</p:selectOneMenu>

				<p:selectOneMenu id="ville" value="#{mbMajMasseur.selectedVille}" >
				<f:selectItem itemLabel="Choisir une ville" itemValue="" noSelectionOption="true"/>
					<f:selectItems value="#{mbMajMasseur.villes}"/>
				</p:selectOneMenu>

						<h:outputLabel value="Adresse mail :" for="mel" />
						<h:inputText value="#{mbMajMasseur.masseur.adresseMailMasseur}" id="mel"> #{mbMajMasseur.masseur.adresseMailMasseur} </h:inputText>

						<h:outputLabel value="Numéro de téléphone :" for="tel" />
						<h:inputText value="#{mbMajMasseur.masseur.telephoneMasseur}" id="tel"> #{mbMajMasseur.masseur.telephoneMasseur} </h:inputText>
						
						<h:outputLabel value="Date de naissance :" />						
						<p:calendar value="#{mbMajMasseur.masseur.dateDeNaissanceMasseur}">  </p:calendar>
						
						
						<h:outputLabel value="Sexe : " />
						<h:selectOneMenu value="#{mbMajMasseur.idSexeRecup}">
						<f:selectItem itemLabel="Choisir sexe" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbMajMasseur.listeSexe}" var="sexeMasseurSelectionne" itemLabel="#{sexeMasseurSelectionne.libelleSexe}" itemValue="#{sexeMasseurSelectionne.idSexe}"/>
						</h:selectOneMenu>

						<h:outputLabel value="Login :" for="log" />
						<h:inputText id="log" value="#{mbMajMasseur.masseur.loginMasseur}" />
						
						<h:outputLabel value="Catégories : " />
				
							
						<h:dataTable id="tableD" value="#{mbMajMasseur.listeCategoriesAffectees}" var="catego" >
							<h:column>
								<h:outputLabel value="#{catego.categorieMasseur.libelleCategorieMasseur}" />
							</h:column>
							<h:column>
								<p:commandButton  update=":deleteForm:deletePanel"
									oncomplete="PF('deleteDialog').show()"
									icon="ui-icon-closethick" style="margin: 1.0vh">
									<f:setPropertyActionListener
										value="#{catego}"
										target="#{mbMajMasseur.selectedCategorieAffectee}" />
								</p:commandButton>
							</h:column>
							<f:facet name="footer">
																<p:commandButton  update=":addForm:addPanel"
																		oncomplete="PF('addDialog').show()"
																		icon="ui-icon-plusthick" style="margin: 1.0vh">
																		<f:setPropertyActionListener
																			value="#{catego}"
																			target="#{mbMajMasseur.selectedCategorieAffectee}" />
																	</p:commandButton>
							</f:facet>
						</h:dataTable>
						
						<h:outputLabel value="Evolution Professionnelle : " />
				
							
						<h:dataTable id="tableEv" value="#{mbMajMasseur.listeHistoEvoPro}" var="evo">
							<h:column>
								<h:outputLabel value="#{evo.evolutionsProfessionnelle.libelleEvolutionProfessionnelle}" />
							</h:column>
							<h:column>
								<p:commandButton  update=":deleteFormEvo:deletePanel"
									oncomplete="PF('deleteDialogEvo').show()"
									icon="ui-icon-closethick" style="margin: 1.0vh">
									<f:setPropertyActionListener
										value="#{evo}"
										target="#{mbMajMasseur.selectedHistoEvoPro}" />
								</p:commandButton>
							</h:column>
							<f:facet name="footer">
								<p:commandButton update=":addFormEvo:addPanel"
									oncomplete="PF('addDialogEvo').show()" icon="ui-icon-plusthick"
									style="margin: 1.0vh">
									<f:setPropertyActionListener value="#{evo}"
										target="#{mbMajMasseur.selectedEvoPro}" />
								</p:commandButton>
							</f:facet>
						</h:dataTable>
						
						<h:commandButton action="#{mbMajMasseur.mettreAJour()}" value="Mettre à jour le masseur" />
																							<!-- 										target="" /> -->
																							<!-- 								</p:commandButton> -->


</h:panelGrid>
</p:panel>
</h:form> 
																						<!-- 						<h:outputLabel value="Modification du mot de passe :" for="modifMdp" /> -->
																						<!-- 						<p:commandButton id="modifMdp" value="Modifier le Mot de Passe" type="button" onclick="PF('dlg2').show();" /> -->
																						<!-- 						<p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true" height="100"> -->
																						<!-- 						<h:outputLabel value="Mot de passe Actuel :" for="mdpA" /> -->
	<p:dialog header="Retirer la catégorie" widgetVar="deleteDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="deleteForm">
				<p:outputPanel id="deletePanel">
					<p:outputLabel>Vous êtes sur le point de retirer la catégorie #{mbMajMasseur.selectedCategorieAffectee.categorieMasseur.libelleCategorieMasseur} à
									#{mbMajMasseur.masseur.prenomMasseur} #{mbMajMasseur.masseur.nomMasseur}.
									Cette catégorie est attribuée depuis le  <h:outputLabel value="#{cat.dateEntreeCategorieMasseur}">
							<f:convertDateTime pattern="dd-MM-yyyy"/> </h:outputLabel>
					</p:outputLabel>
					<br />
					<br />
					
					<p:outputLabel>La date enregistrée pour le retrait de la catégorie est : </p:outputLabel>
					<br />
					<br />
					<p:calendar value="#{mbMajMasseur.dateDuJour}" timeZone="+2"/>
					
					<p:outputLabel>Êtes-vous sur de vouloir effectuer cette opération ?</p:outputLabel>
					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbMajMasseur.supprimerCategorie()}"
						update="@widgetVar(tab)" oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>			
		
		
		<p:dialog header="Ajouter la catégorie" widgetVar="addDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="addForm">
				<p:outputPanel id="addPanel">
					<p:outputLabel>Quelle catégorie voulez-vous ajouter à
									#{mbMajMasseur.masseur.prenomMasseur} #{mbMajMasseur.masseur.nomMasseur}?
									
							<h:outputLabel value="Catégorie à ajouter: " />
						<h:selectOneMenu value="#{mbMajMasseur.idSelectedCategorie}">
						<f:selectItem itemLabel="Choisir catégorie" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbMajMasseur.listeCategoriesDisponiblesParMasseur}" var="categ" itemLabel="#{categ.libelleCategorieMasseur}" itemValue="#{categ.idCategorieMasseur}"/>
						</h:selectOneMenu>		
									
							
					</p:outputLabel>
					<br />
					<br />
					
					<p:outputLabel>Date d'attribution : </p:outputLabel>
					<br />
					<br />
					<p:calendar value="#{mbMajMasseur.dateDuJour}" timeZone="+2"/>
					
					<p:outputLabel>Êtes-vous sur de vouloir effectuer cette opération ?</p:outputLabel>
					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('addDialog').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbMajMasseur.ajouterCategorie()}"
						update=":@form" oncomplete="PF('addDialog').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>			
		
		
		<p:dialog header="Retirer la catégorie" widgetVar="deleteDialogEvo"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="deleteFormEvo">
				<p:outputPanel id="deletePanel">
					<p:outputLabel>Vous êtes sur le point de retirer la catégorie professionnelle  #{mbMajMasseur.selectedHistoEvoPro.evolutionsProfessionnelle.libelleEvolutionProfessionnelle} à
									#{mbMajMasseur.masseur.prenomMasseur} #{mbMajMasseur.masseur.nomMasseur}.
									Cette catégorie est attribuée depuis le  <h:outputLabel value="#{mbMajMasseur.selectedHistoEvoPro.dateDebutEvolutionProfessionnelleMasseur}">
							<f:convertDateTime pattern="dd-MM-yyyy"/> </h:outputLabel>
					</p:outputLabel>
					<br />
					<br />
					
					<p:outputLabel>La date enregistrée pour le retrait de la catégorie est : </p:outputLabel>
					<br />
					<br />
					<p:calendar value="#{mbMajMasseur.dateDuJour}" timeZone="+2"/>
					
					<p:outputLabel>Êtes-vous sur de vouloir effectuer cette opération ?</p:outputLabel>
					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('deleteDialogEvo').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbMajMasseur.supprimerEvolution()}"
						update="@widgetVar(tab)" oncomplete="PF('deleteDialogEvo').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>			
		
		
		<p:dialog header="Ajouter la catégorie" widgetVar="addDialogEvo"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="addFormEvo">
				<p:outputPanel id="addPanel">
					<p:outputLabel>Quelle catégorie professionnelle voulez-vous ajouter à
									#{mbMajMasseur.masseur.prenomMasseur} #{mbMajMasseur.masseur.nomMasseur}?
									
							<h:outputLabel value="Catégorie à ajouter: " />
						<h:selectOneMenu value="#{mbMajMasseur.idSelectedEvoPro}">
						<f:selectItem itemLabel="Choisir Évolution professionnelle" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbMajMasseur.listeEvoPro}" var="evoPro" itemLabel="#{evoPro.libelleEvolutionProfessionnelle}" itemValue="#{evoPro.idEvolutionProfessionnelle}"/>
						</h:selectOneMenu>		
									
							
					</p:outputLabel>
					<br />
					<br />
					
					<p:outputLabel>Date d'attribution : </p:outputLabel>
					<br />
					<br />
					<p:calendar value="#{mbMajMasseur.dateDuJour}" timeZone="+2"/>
					
					<p:outputLabel>Êtes-vous sur de vouloir effectuer cette opération ?</p:outputLabel>
					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('addDialogEvo').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbMajMasseur.ajouterEvolution()}"
						update="@widgetVar(tab)" oncomplete="PF('addDialogEvo').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>														
		
																				<!-- 						<h:inputSecret id="mdpA" value="#{mbMajMasseur.motDePasseActuel}" /> -->
																						<!-- 						<h:outputLabel value="nouveau mot de passe :" for="mdpN" /> -->
																						<!-- 						<h:inputSecret id="mdpN" value="#{mbMajMasseur.nouveauMotDePasse}" /> -->
																						<!-- 						<h:outputLabel value="Veuillez confirmer le nouveau mot de passe :" for="mdpNC" /> -->
																						<!-- 						<h:inputSecret id="mdpNC" value="#{mbMajMasseur.nouveauMotDePasseConfirm}" /> -->
																						<!-- 						</p:dialog> -->




																							<!-- :modifForm:defautDetail      Value: #{consigne}        Target #{mbConsigneSol.selectedConsigne}-->
<!-- 							<p:commandButton  id="modifMdp" value="Modifier le Mot de Passe" type="button" onclick="PF('modifMdp').show();" /> -->
																							<!-- 																																update="" oncomplete="PF('modifMdp').show()" icon="fa fa-edit" -->
																							<!-- 																																style="margin: 0.5vh"> -->
	
	
	
																							<!-- 									<f:setPropertyActionListener value="" -->
<!-- 						<p:dialog header="Modifier le Mot de Passe" -->
<!-- 							widgetVar="modifMdp" modal="true" showEffect="fade" -->
<!-- 							hideEffect="fade" resizable="false" draggable="false"> -->
<!-- 							<h:form id="modifForm"> -->
<!-- 								<p:panelGrid id="modificateurMdp" columns="2" -->
<!-- 									styleClass="ui-noborder"> -->


<!-- 						<h:outputLabel value="Login :" for="log" /> -->
<!-- 						<h:inputText id="log" value="#{mbMajMasseur.identifiantFourni}" /> -->
<!-- 						<h:outputLabel value="Mot de passe Actuel :" for="mdpA" />  -->
<!-- 						<h:inputSecret id="mdpA" value="#{mbMajMasseur.motDePasseActuel}" /> -->
<!-- 						<h:outputLabel value="nouveau mot de passe :" for="mdpN" /> -->
<!-- 						<h:inputSecret id="mdpN" value="#{mbMajMasseur.nouveauMotDePasse}" /> -->
<!-- 						<h:outputLabel value="Veuillez confirmer le nouveau mot de passe :" for="mdpNC" /> -->
<!-- 						<h:inputSecret id="mdpNC" value="#{mbMajMasseur.nouveauMotDePasseConfirm}" /> -->
						
<!-- 						<p:commandButton value="Vérifier les champs" -->
<!-- 									action="#{mbMajMasseur.modifierMdp()}"/> -->
<!-- 								</p:panelGrid> -->


<!-- 								<p:separator></p:separator> -->
<!-- 								<p:commandButton value="Mettre à jour" rendered="#{mbMajMasseur.ok == true}" -->
<!-- 									action="#{mbMajMasseur.modifierMdp()}" -->
									
<!-- 									oncomplete="PF('modifMdp').hide()" -->
<!-- 									style="display: float; float:right; margin-right: 2vh" /> -->
<!-- 								<p:commandButton value="Annuler" -->
<!-- 									oncomplete="PF('modifMdp').hide()" -->
<!-- 									style="display: float; float:right ; margin-right: 2vh" /> -->
<!-- 							</h:form> -->
<!-- 						</p:dialog> -->

						A faire: modifier image et gestion mdp dans popup?
						

<!-- 						<h:commandButton action="#{mbMajMasseur.ajouterMasseur()}" value="Valider" id="cmdBtn" class="btnVal"/> -->
<!-- 					</h:panelGrid> -->
<!-- 				</p:panel> -->
<!-- 			</h:form> -->
		</div>



	</ui:define>
</ui:composition>
</html>