<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"> 


<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleListePresta.css" />
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanMasseur.menuModel}" />
	</ui:define>
	
	
	<ui:define name="PrincipalContent">

	<h:form id="form">
		<h1 >Donner mon avis sur la prestation #{faireUnRetourMasseur.interventionReelle.prestation.libellePrestation}  </h1>
	<p:panelGrid columns="2" layout="grid">
 
	
	<h2>Ma note pour l'accueil :</h2>
	<div class="knob-container ui-corner-all">
    <p:knob id="acc" colorTheme="hot-sneaks" max="10" showLabel="true"  value="#{faireUnRetourMasseur.noteAccueil}"/>
	</div>
	
	<h2>Ma note pour l'ambiance : </h2>
	<div class="knob-container ui-corner-all">
    <p:knob colorTheme="hot-sneaks" max="10" value="#{faireUnRetourMasseur.noteAmbiance}"/>
	</div>
	
	<h2>Ma note pour la clientèle : </h2>
	<div class="knob-container ui-corner-all">
    <p:knob colorTheme="hot-sneaks" max="10" value="#{faireUnRetourMasseur.noteClientele}"/>
	</div>
	</p:panelGrid>
	<br />
	<br />
	<p:panelGrid columns="2" layout="grid">
	<p:outputLabel>Combien de clients avez-vous massé ?</p:outputLabel>
	  <h:panelGrid columns="1" style="margin-bottom: 10px">
<!--         <p:inputText id="clients" value="#{faireUnRetourMasseur.nbClientsMasses}" > -->
        <p:spinner id="clients" value="#{faireUnRetourMasseur.nbClientsMasses}"  />
<!--         </p:inputText> -->
    </h:panelGrid>
    
	<p:outputLabel>Mon montant de gains récoltés (ou montant de rémunération) : </p:outputLabel>
	<h:panelGrid columns="1" style="margin-bottom: 10px">
        <p:inputText id="gains" value="#{faireUnRetourMasseur.montantGainsRecoltes}" />
        <p:slider for="gains" maxValue="2000" />
    </h:panelGrid>
    
	
	<p:outputLabel>Mon commentaire :</p:outputLabel>
	<p:inputTextarea rows="6" value="#{faireUnRetourMasseur.commentaire}" cols="30" counter="display" 
	 maxlength="250" counterTemplate="{0} characters remaining." autoResize="true" />
    <br />
    <h:outputText id="display" />
	<p:commandButton  value="Sauvegarder" id="save" action="#{faireUnRetourMasseur.ajouterCommentaire()}"></p:commandButton>
	</p:panelGrid>
	</h:form>
	</ui:define>
	
	</ui:composition>



</html>
